.storyContainer{
    height: 600px;
    background-color: #f6fafa;
    display: flex;
    flex-direction: row;
}

.heading{
  font-size: 30px;
  font-style: normal;
}

p{
    font-style: normal;
    color: black;
    font-size: 20px;
}

.btn{
    width: fit-content;
}

.storyLeft{
   text-align: center;
   align-items: center;
   margin: 30px;
   width: 300px;
   display: flex;
   flex-direction: column;
   padding: 200px 10px 50px  230px;
}

.storyRight>img{
   width: 700px;
   margin-top: 70px;
   margin-left: 10px;
}
